html,
body
{
	margin: 0em;
	padding: 0em;
}

a
{
	margin: 0em;
	padding: 0em;
	text-decoration: none;
	color: #666;
}

a:hover
{
	color: #00aeef;
}

#name
{
	position: absolute;
	bottom: 0em;
	width: 40em;
	margin: .5em;
}

#name a
{
	float: left;
	padding: 0em 1em 0em 0em;
	margin: 0em;
	color: #aaa;
	font: .75em "mic-32-new-web", "Helvetica", "Arial";
	text-decoration: none;
}

h1
{
	float: left;
	padding: 0em;
	margin: 0em;
	font: 1em "mic-32-new-web", "Helvetica", "Arial";
	color: #777;
}

h2
{
	float: left;
	padding: 0em 1em 0em 0em;
	margin: 0em;
	font: .75em "mic-32-new-web", "Helvetica", "Arial";
	color: #ddd;
}

#copyright
{
	position: absolute;
	right: 0em;
	bottom: 0em;
	margin: .5em;
	color: #ccc;
	font: .75em "mic-32-new-web", "Helvetica", "Arial";
}

form
{
	margin: 0em;
	padding: 0em;
}

input
{
	width: 80%;
	margin: 0em;
	padding: 0em 0em 0em 2em;
	font: bold 4.5em "mic-32-new-web", "Helvetica", "Arial";
	height: 1em;
	border: none;
	outline: none;
	color: #666;
	background: none;
}

#decimalValue
{
	margin-top: 2em;
}

#architecturalValue
{
	margin-top: .34em;
}

input::-webkit-input-placeholder
{
	color: #eee;
}

input:-moz-placeholder
{
	color: #eee;
}

input:-ms-input-placeholder
{
	color: #eee;
}

ul
{
	margin: 0em 0em 0em 9em;
	padding: 0em;
	list-style: none;
}

li
{
	margin: 0em;
	padding: 0em;
	display: inline-block;
}

button
{
	margin: 0em;
	padding: 0em;
	width: 6em;
	height: 2em;
	border: none;
	background: none;
	color: #ccc;
	font: .75em "mic-32-new-web", "Helvetica", "Arial";
	line-height: 2em;
	cursor: pointer;
	text-align: left;
	outline: none;
}

button:hover
{
	color: #00aeef;
	cursor: pointer;
}

.active
{
	color: #666;
}

h3
{
	width: 100%;
	margin: 2em 0em 0em 0em;
	padding: 0em 0em 0em 2em;
	font: bold 4.5em "mic-32-new-web", "Helvetica", "Arial";
	height: 1em;
	border: none;
	outline: none;
	color: #666;
	background: none;
}

h4
{
	margin: 0em 0em 2em 12em;
	padding: 0em;
	color: #666;
	font: .75em "mic-32-new-web", "Helvetica", "Arial";
	line-height: 2em;
}



#about > p
{
	margin: 0em 0em 2em 12em;
	padding: 0em;
	width: 48em;
	color: #999;
	font: .75em "mic-32-new-web", "Helvetica", "Arial";
	line-height: 2em;
}

.inputBubble
{
	z-index: -1;
	position: absolute;
	margin-top: 7em;
	margin-left: 9em;
	background: #00aeef;
}

.inputBubble > .bubble
{
	padding: 10px;
	font: .75em "mic-32-new-web", "Helvetica", "Arial";
	color: #fff;
}

.inputBubble > .hook
{
	height: 10px;
	background: url("/images/inputBubble.png");
}