	<input type="text" id="decimalValue" name="decimalValue" class="decimalValue value" placeholder="decimal" />
	<ul id="decimalAccuracy">
		<li>
			<button type="button" value="0" class="button decimalAccuracy accuracy">0</button>
		</li><li>
			<button type="button" value="1" class="button decimalAccuracy accuracy">0.0</button>
		</li><li>
			<button type="button" value="2" class="button decimalAccuracy accuracy">0.00</button>
		</li><li>
			<button type="button" value="3" class="button decimalAccuracy accuracy">0.000</button>
		</li><li>
			<button type="button" value="4" class="button decimalAccuracy accuracy selected active">0.0000</button>
		</li><li>
			<button type="button" value="5" class="button decimalAccuracy accuracy">0.00000</button>
		</li><li>
			<button type="button" value="6" class="button decimalAccuracy accuracy">0.000000</button>
		</li><li>
			<button type="button" value="7" class="button decimalAccuracy accuracy">0.0000000</button>
		</li><li>
			<button type="button" value="8" class="button decimalAccuracy accuracy">0.00000000</button>
		</li>
	</ul>
	<ul id="decimalUnits">
		<li>
			<button type="button" value="1" class="button decimalUnits selected active">inches</button>
		</li><li>
			<button type="button" value="12" class="button decimalUnits">feet</button>
		</li>
	</ul>