<div id="name">
	<h1><a href="/" class="pageLink">decitectural</a></h1>
	<h2>decimal architectural notation converter</h2>
	<a href="/about/" class="pageLink">about</a>
	<a href="http://twitter.com/decitectural" class="externalLink">twitter</a>
	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XC9TCYBTYZG46" class="externalLink">donate</a>
	<a href="mailto:contact@decitectural.com" class="externalLink">feedback</a>
</div>
<div id="copyright">copyright 2012 <a href="http://adekom.net">anton dekom</a></div>
<form id="home" style="display: none">
	<div class="inputBubble">
		<div class="bubble">
			start typing to begin converting unit notation!
		</div>
		<div class="hook"></div>
	</div>
</form>
<div id="about" style="display: none">
	<h3><a href="/" class="pageLink">decitectural</a></h3>
	<h4>decimal-architectural notation converter</h4>
	<p>Decitectural is a small web application designed to assist designer-type people in converting between decimal notation and that pesky feet-and-inches way of writing units commonly known as architectural notation (or imperial notation, if you prefer). This is the kind of conversion that is often done on the fly in one's own head or, better yet, taken care of by programs like AutoCAD... but occasions inevitably do arise when you find yourself without that most precious Autodesk software and need to make a few quick conversions (usually after running some calculations through your trusty calculator, Google).</p>
	<p>And that's where decitectural comes in. It was built in order to update our notation converting needs to the modern, web 2.0 era and to replace those crusty old unit conversion charts so kindly rendered in bright green comic sans. Decitectural allows one to convert seamlessly back and forth between the decimal representation and the architectural fraction notation of a measurement without page loads&mdash;so long as you get your syntax right! It also allows one to adjust, on the fly, both the units and the accuracy of the measurements outputted. Oh, and best of all, it's free.</p>
	<p>Yes, yes, you're welcome. <a href="/" class="pageLink">Now start converting.</a></p>
</div>