	<input type="text" id="architecturalValue" name="architecturalValue" class="architecturalValue value" placeholder="architectural" />
	<ul id="architecturalAccuracy">
		<li>
			<button type="button" value="1" class="button architecturalAccuracy accuracy">0' 0"</button>
		</li><li>
			<button type="button" value="2" class="button architecturalAccuracy accuracy">0' 0 1/2"</button>
		</li><li>
			<button type="button" value="4" class="button architecturalAccuracy accuracy">0' 0 1/4"</button>
		</li><li>
			<button type="button" value="8" class="button architecturalAccuracy accuracy">0' 0 1/8"</button>
		</li><li>
			<button type="button" value="16" class="button architecturalAccuracy accuracy selected active">0' 0 1/16"</button>
		</li><li>
			<button type="button" value="32" class="button architecturalAccuracy accuracy">0' 0 1/32"</button>
		</li><li>
			<button type="button" value="64" class="button architecturalAccuracy accuracy">0' 0 1/64"</button>
		</li><li>
			<button type="button" value="128" class="button architecturalAccuracy accuracy">0' 0 1/128"</button>
		</li><li>
			<button type="button" value="256" class="button architecturalAccuracy accuracy">0' 0 1/256"</button>
		</li>
	</ul>